<section style="text-align: center;">
  <h3 style="margin-bottom: 40px;">Nom du QCM</h3>
  <h5>Bilan</h5>

  <div style="margin: 10px;">
    <p>
      1) Ceci est une question ?
    </p>

    <div class="form-check">
      <span class="badge badge-primary badge-pill badge-danger">Mauvaise réponse : 0 point / 1</span>
      <label class="form-check-label" style="margin-left: 5px;">
        Réponse 1
      </label>
    </div>

    <div class="form-check">
      <span class="badge badge-primary badge-pill badge-secondary">Correction</span>
      <label class="form-check-label" style="margin-left: 5px;">
        Réponse 2
      </label>
    </div>
  </div>

  <div style="margin: 10px;">
    <p>
      2) Ceci est une autre question ?
    </p>

    <div class="form-check disabled">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
      <label class="form-check-label" for="exampleRadios3">
        Réponse 1
      </label>
    </div>

    <div class="form-check">
      <span class="badge badge-primary badge-pill badge-success">Bonne réponse : 2 points</span>
      <label class="form-check-label" style="margin-left: 5px;">
        Réponse 2
      </label>
    </div>
  </div>
</section>

<div style="text-align: right; margin: 20px;">
  <button type="button" class="btn btn-outline-dark" routerLink="/connexion">Fin du QCM</button>
</div>



