<h3 style="margin: 20px">
  Créer un QCM
</h3>
<input class="form-control" type="text" placeholder="Renseignez le nom de votre QCM" style="margin-left: 40px; margin-top:40px; width: 400px">
<div>
<button type="submit" class="btn btn-primary"
        style="background-color: #6f42c1; border-color: #6f42c1; ">
  Créer
</button>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Liste des QCM</h6>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>QCM1</td>
        <td>toto</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <tr>
        <td>2</td>
        <td>QCM2</td>
        <td>titi</td>
        <td>adipiscing</td>
        <td>elit</td>
      </tr>
      <tr>
        <td>3</td>
        <td>QCM3</td>
        <td>tete</td>
        <td>adipiscing</td>
        <td>elit</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<app-creationqcm></app-creationqcm>-->
