<div class="container" style="max-width: 550px; top:200px;">

  <form class="form-signin">
    <label for="inputEmail" class="sr-only">Email</label>
    <input id="inputEmail" class="form-control" placeholder="Adresse Email" required="" autofocus="" type="email">
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input id="inputPassword" class="form-control" placeholder="Mot de passe" required="" type="password">
    <div class="checkbox">
    </div>
    <button type="submit" style = "margin-right : 10px; margin-top: 10px;" class="btn btn-primary">Créer un compte</button>
    <button type="submit" style = "margin-right : 10px; margin-top : 10px;" class="btn btn-primary" routerLink="/etudiant" >Connexion Etudiant</button>
    <button type="submit" style = "margin-top : 10px;" class="btn btn-primary" routerLink="/accueil" >Connexion Enseignant</button>
  </form>

</div>

<!--(click)="Enseignant()"
<app-enseignant *ngIf="isEnseignant==='true'"></app-enseignant>
<app-etudiant *ngIf="isEnseignant==='false'"></app-etudiant>
-->
