<h2>Question numéros {{values[iterator].question_id}}</h2>
<p>{{values[iterator].question}}</p>
<div class="row">
    <div class="col-lg-4">
      <div class ="Colonne">
        Réponse
      </div>
    </div>
    <div class="col-lg-4">
      <div class ="Colonne">
        Nombre de réponse
      </div>
    </div>
    <div class="col-lg-4">
      <div class ="Colonne">
          Premier à répondre
      </div>
    </div>
</div>
<div *ngFor="let answer of values[iterator].answers">
  <app-play-qcm-professor-reponse [reponse]="answer.answer"></app-play-qcm-professor-reponse>

</div>
<div class="btn-group" role="group" aria-label="...">
  <button (click)="iteratorPlusUn()" type="button" class="btn btn-default">Question suivante </button>
</div>
