<app-navbar></app-navbar>

<h6 class="border-bottom border-gray pb-2 mb-0">Classe 1 - Liste de ses étudiants</h6>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Classe</th>
      <th>Spé</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div>
          <p>Antoine PICHARD</p>
        </div>
      </td>
      <td><a href="#"> APP4 </a></td>
      <td>Informatique</td>
    </tr>
    <tr>
      <td>
        <div>
          <p>Sessi BOTON</p>
        </div>
      </td>
      <td><a href="#"> APP4 </a></td>
      <td>Informatique</td>
    </tr>
    <tr>
      <td>
        <div>
          <p>Jihane Sbaytti</p>
        </div>
      </td>
      <td><a href="#"> APP4 </a></td>
      <td>Informatique</td>
    </tr>
    <tr>
      <td>
        <div>
          <p>Marion De Oliveira</p>
        </div>
      </td>
      <td><a href="#"> APP4 </a></td>
      <td>Informatique</td>
    </tr>
    </tbody>
  </table>
</div>
<div style="text-align: right; margin: 20px;">
  <button type="button" class="btn btn-outline-dark" routerLink="/mesclasses">Retour</button>
</div>
