  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <a class="navbar-brand mr-auto mr-lg-0" href="#"> <img width="120" src="assets/images/Logo.jpg" class = "logo"/> </a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav mr-auto">
      <li routerLinkActive="nav-item active current">
        <a class="nav-link" routerLink="/acceuil">Acceuil</a>
      </li>
      <li routerLinkActive="nav-item active current">
        <a class="nav-link" routerLink="/mesqcm">Mes QCM</a>
      </li>
      <li routerLinkActive="nav-item active current">
        <a class="nav-link" routerLink="/mesclasses">Mes Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Se déconnecter</a>
      </li>
    </ul>

  </div>
</nav>
