<html lang="en">
  <body class="bg-light">
    <main role="main" class="container">
      <!--<app-connexion></app-connexion>-->
      <app-enseignant></app-enseignant>
      <!--<app-etudiant></app-etudiant>-->
    </main>
  </body>
</html>



<!--The content below is only a placeholder and can be replaced.-->
<!--

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"> <img width ="250" src="assets/images/Logo.jpg" class = "logo"/> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" >

      <a class="nav-item nav-link" href="#">Mes QCM</a>
      <a class="nav-item nav-link" href="#">Les classes</a>
      <a class="nav-item nav-link disabled" href="#">Déconnexion</a>
    </div>
  </div>
</nav>

-->

<!--<app-etudiantbilan></app-etudiantbilan>-->
<!--<app-connexion></app-connexion>-->
<!--<app-enseignant></app-enseignant>-->
<!--<app-creationqcm></app-creationqcm>-->


