<div>
	<h3> Commencer une nouvelle session </h3>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01">Sélectionner un QCM</label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect01">
	    <option value="1">QCM 1</option>
	    <option value="2">QCM 2</option>
	    <option value="3">QCM 3</option>
	  </select>
	</div>

	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01">Sélectionner une classe</label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect02">
	    <option value="1">Classe 1</option>
	    <option value="2">Classe 2</option>
	    <option value="3">Classe 3</option>
	  </select>
	</div>

	<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style = "margin : 10px; background-color: #8a33fa ">
	  Commencer
	</button>

</div>

<div>
	<h3> Bilans des précédentes sessions </h3>
	 <div>
		 <ul class="list-group">
		  <li class="list-group-item">
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
			  <a href="x"><label class="form-check-label" for="defaultCheck1">
			    Bilan 1 - SESSION toto
			  </label> </a>
			</div>
		  </li>
		  <li class="list-group-item">
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
			  <a href="x"><label class="form-check-label" for="defaultCheck1">
			    Bilan 2 - SESSION titi
			  </label> </a>
			</div>
		  </li>
		</ul> 
	</div>
	 <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style = "margin : 10px; background-color: #8a33fa ">
	  Visualiser
	</button>
</div>


